@mixin small_banner_size {
    width: 30vw;
    height: 20vw;
}

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

@mixin centered_column {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
