body {
    margin: 0;
    padding: 0;
}

// creating variables

$button_color: rgb(178, 221, 158);
$hover_color: rgb(81, 112, 67);
$light_background: blanchedalmond;

h1 {
    text-align: center;
    background-color: $light_background;
}

// separating code and importing the separated file

@import "navbar";

// using :hover selector

button {
    padding: 1em 2em;
    background-color: $button_color;
    color: $hover_color;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    &:hover {
        color: #fff;
        background-color: $hover_color;
    }
}